<!DOCTYPE html>
<html>
<head>
    <title>Register page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<html>


<div id='viewContainer' class="index-flex-container">
    <div class="index-flex-item">
        <div class="flex">
            <h4><%= manga.title_english %></h4>
            <img src="<%= manga.image_url_med %>">
        </div>
    </div>

<div class="index-flex-item">
    <div class="flex">

        <p><%= manga.description%></p>

    </div>
    <a href="/">Click here to return to Main page</a>
</div>
</div>
<!-- end recommended mangas -->
</div>