body {
	/*background-color: red;*/
}

.headerDiv {
    display: inline-flex;
    border: 2px solid black;
    padding: 1em;
}

div {
	border: 2px dotted #ccc;
}

.currentRead, .recommendRead {
    display: inline-flex;
    /*border: 2px solid black;*/
    padding: 1em;
    margin: 1em;
    width: 150px;
    height: 150px;
}

#currentReadHolder, #recommendReadHolder {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /*http://www.sketchingwithcss.com/samplechapter/cheatsheet.html*/
}