body {
	/*background-color: red;*/
}

#home-header {
    display: flex;
}

.headerDiv {
    display: inline-flex;
    /*border: 2px solid black;*/
    padding: 1em;
}   

#header-title {
    display: flex;
    width: 60%;
}

.currentRead, .recommendRead {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    width: 150px;
    height: 150px;
}

#currentReadHolder, #recommendReadHolder, #ownedMangaHolder, #rentedMangaHolder {
   display: inline-block;
}

/* div that houses manga recommendation */
/* diplays img and name */
.mangaRecommend {
    border: none;
    text-align: center;
}

.flex {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /*http://www.sketchingwithcss.com/samplechapter/cheatsheet.html*/
}