body {
    /*background-color: red;*/
}

#home-header {
    display: flex;
}

.headerDiv {
    display: inline-flex;
    /*border: 2px solid black;*/
    padding: 1em;
}

#header-title {
    display: flex;
    width: 60%;
}

.currentRead,
.recommendRead {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    width: 150px;
    height: 150px;
}

#currentReadHolder,
#recommendReadHolder,
#ownedMangaHolder,
#rentedMangaHolder {
    display: inline-block;
}


/* div that houses manga recommendation */


/* diplays img and name */

.mangaRecommend {
    border: none;
    text-align: center;
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row/* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 194px;
    border: 1px solid gray;
}


/*http://www.sketchingwithcss.com/samplechapter/cheatsheet.html*/

.box-one {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.box-one.ng-click {
    opacity: 0;
}

.fa-spin {
    font-size: 3em;
}

#adminSearchHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

#adminTextBoxSearch {
    padding: 3em;
}

input#adminSearchBox {
    width:25em;
}


h6.dueDate {
    margin: .2em;
}


.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
