<!-- MANGA VOLUMES READING -->
<div id='viewContainer' class="index-flex-container">
    <div class="index-flex-item">
        <h3>Mangas reading</h3>
        <div class="flex">
            <div id="rentedMangaHolder">
                <div class="currentRead" ng-repeat="rented in mctrl.rentedOutManga ">
                    <div class="mangaRecommend">

                        <a href="/manga/{{rented.mangaID}}" target="_parent">
                            <br/> <img src="{{rented.image_url_med}}">
                        </a>

                        <br/> {{rented.title_english}}
                        <h6 class="dueDate daysLeft"> <span class="daysInDaysLeft">{{rented.date_due| amDifference : null : 'days'}}</span> days left</h6>
                        <h6 class="dueDate"> Return: {{rented.date_due | amUtc | amDateFormat:'MMMM DD YY'}}</h6>
                        <h6 class="dueDate">Borrowed: {{rented.date_borowed | amUtc | amDateFormat:'MMMM DD YY'}}</h6>
                        <button class="btn btn-default" ng-click="mctrl.returnManga(rented)">return</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- end manga volumes reading -->
<!-- RECOMMENDED MANGAS -->
<div class="index-flex-item">
    <h3>Rent from others</h3>
    <div class="flex">
        <div id="recommendReadHolder">
            <div id="currentReadHolder">
                <div class="currentRead" ng-repeat="others in mctrl.othersManga | limitTo: 15 | orderBy:random">
                    <div class="mangaRecommend">

                        <a href="/manga/{{others.mangaID}}" target="_parent">
                            <img src="{{others.image_url_med}}">
                        </a>

                        <br/> {{others.title_english}}
                        <br/>
                        <button class="btn btn-info" ng-click="mctrl.rentManga(others)">borrow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end recommended mangas -->
</div>
<!-- MANGAS OWNED -->
<div class="index-manga-owned">
    <h3>Mangas owned</h3>
    <div class="flex">
        <div id="ownedMangaHolder">
            <div class="currentRead" ng-repeat="ownedmanga in mctrl.owned ">

                <a href="/manga/{{ownedmanga.mangaID}}" target="_parent">
                    <br/> <img src="{{ownedmanga.image_url_med}}">
                </a>

                <br/> {{ownedmanga.title_english}}
                <form ng-submit="mctrl.delete(ownedmanga)">
                    <input class="btn btn-danger" type="submit" value="delete" ng-click="mctrl.reloadView()">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end manga owned -->
