<!DOCTYPE html>
<html>

<head>
    <title>Register page</title>
</head>

<body>
    <html>

    <body>
        <main id="loginDiv">
            <h1>Register</h1>
            <form action="/user/register" method="POST" class="form-inline">
              <!--   <input type="text" name="name" placeholder="name" />
                <br> -->
                <label for="username">Username:</label>
                <input type="text" id= "username" class="form-control" name="username" placeholder="username" />
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="email" />
                <br>
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" class="form-control" name="password" placeholder="password" />
                <br>
                <input type="submit" value="Register" />
            </form>
        </main>
    </body>

    </html>
</body>

</html>
