<!DOCTYPE html>
<html>

<head>
    <title>Register page</title>
</head>

<body>
    <html>

    <body>
        <main id="loginDiv">
            <h1>Register</h1>
            <form action="/user/register" method="POST">
                <input type="text" name="name" placeholder="name" />
                <br>
                <input type="text" name="username" placeholder="username" />
                <br>
                <input type="text" name="email" placeholder="email" />
                <br>
                <input type="password" name="password" placeholder="password" />
                <br>
                <input type="submit" value="Register" />
            </form>
        </main>
    </body>

    </html>
</body>

</html>
